### suffix ###
*.zip
*.gz
*.tar.gz
*.ckpt
*.pb
*.mp4
*.tar
*.record
*.pd
*.tgz

### dirs ###
.idea/
__pycache__/
venv/
train_dir/
eval_dir/
slim.egg-info
dist/
build/
object_detection.egg-info/
VOCdevkit/
pretrained/
export/
lfw/
casia/
20170512-110547/
20180402-114759/